{% extends 'base.html' %}
{% block content %}
<main class="center">
    <div>
    <img src="{{url_for('video')}}" width="640" height="480" />
    </div>
    <div class="status">
    <h1 id="message" class="message message-info">SCAN YOUR QR CODE</h1>
    </div>
    <!-- Modal -->
    <div id="granted-modal" class="w3-modal ">
        <div class="w3-modal-content w3-animate-zoom w3-round-large" style="width:50%; bottom:5em;">
            <header class="w3-container w3-2021-mint">
                <span onclick="document.getElementById('granted-modal').style.display='none'"
                class="w3-button w3-display-topright w3-large">&times;</span>
                <h2>Attendance Logged</h2>
            </header>
            <div class="student-details-container" id="modal-content">
                <h2 class="section-title">Student Details</h2>
                <div class="student-image-section">
                    <img id="studentImage" src="" alt="Student Image" class="student-image" />
                </div>
                <div class="student-info">
                    <div class="info-row">
                        <h3>Student ID:</h3>
                        <p id="studentidp" class="info-text"><b></b></p>
                    </div>
                    <div class="info-row">
                        <h3>Lastname:</h3>
                        <p id="studentlastname" class="info-text"><b></b></p>
                    </div>
                    <div class="info-row">
                        <h3>Firstname:</h3>
                        <p id="studentfirstname" class="info-text"><b></b></p>
                    </div>
                    <div class="info-row">
                        <h3>Course:</h3>
                        <p id="studentcourse" class="info-text"><b></b></p>
                    </div>
                    <div class="info-row">
                        <h3>Level:</h3>
                        <p id="studentlevel" class="info-text"><b></b></p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</main>
<script>
    window.addEventListener("DOMContentLoaded", (event) => {
    console.log("DOM fully loaded and parsed");
    const message = document.querySelector("#message");
    var socket = io.connect();
    const modal = document.getElementById("granted-modal");

    //receive details from server
    socket.on("scan_result", function (msg) {
        if (msg.status === "denied") {
        console.log("Access Denied");
        message.innerHTML = msg.message;
        message.classList.remove("message-allowed");
        message.classList.remove("message-info");
        message.classList.add("message-denied");
        } else if (msg.status === "granted") {
        console.log("Access Granted");
        message.innerHTML = msg.message;
        message.classList.remove("message-denied");
        message.classList.remove("message-info");
        message.classList.add("message-allowed");
        modal.style.display = "block";
        studentidp.innerHTML = msg.studentid;
        studentlastname.innerHTML = msg.studentlastname;
        studentfirstname.innerHTML = msg.studentfirstname;
        studentcourse.innerHTML = msg.studentcourse;
        studentlevel.innerHTML = msg.studentlevel;

        studentImage.src = `/static/images/studentimage/${msg.image_filename}`;

        } else {
        message.innerHTML = msg.message;
        message.classList.remove("message-denied");
        message.classList.remove("message-allowed");
        message.classList.add("message-info");
        }
    });
    });
</script>
{% endblock %}