<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie-edge">
		<link rel="stylesheet" href="{{ url_for('static',filename='css/w3.css')}}">
		<link rel="shortcut icon" href="{{ url_for('static', filename='images/icon/favicon.ico')}}"
        <script src="{{ url_for('static',filename='js/webcam.min.js')}}"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<title>Web Cam Project v1.0</title>
		<style>
			html{
				background-color: #03258C;
			}
		</style>
	</head>
	<body>
		{% block content%}
		{% endblock %}
		<footer class="w3-padding-top w3-large w3-2021-illuminating" style="margin: auto;">
			<p>&copy; Copyright Ypil 2024. All rights reserved.</p>
		</footer>
	</body>
    <script language="JavaScript">
        Webcam.set({
                width: 520,
                height: 420,
                dest_width: 520,
                dest_height: 420,
                image_format: 'jpeg',
                jpeg_quality: 90,
                force_flash: false,
                flip_horiz: true,
                fps: 45
        });
		Webcam.attach( '#my_camera' );
		
		function take_snapshot() {
			Webcam.snap( function(data_uri) {
				document.getElementById('my_result').innerHTML = '<img id="imageprev" src="'+data_uri+"'/>';
			} );
			// Update form fields with values from user inputs
			document.getElementById('my_idno').value = idno.value;
			document.getElementById('my_fullname').value = fullname.value;
			document.getElementById('my_course').value = course.value;
			document.getElementById('my_level').value = level.value;
		} 
		
		function save_information(){
			var data_uri = document.getElementById('imageprev')
			var idno = document.getElementById('my_idno').value;
			var fullname = document.getElementById('my_fullname').value;
			var course = document.getElementById('my_course').value;
			var level = document.getElementById('my_level').value;
			
			Webcam.upload(data_uri,url,function(code,text)){
				alert('New User Added')
			}
		}

	</script>
</html>