{% macro showform(mode,columns) -%}
<form class="w3-row-padding w3-padding-large" method='POST' action="/saveinfo" style="width: 50%;margin: auto;color:black">
    {% if mode == 'take_snap' %}
        {% for column in columns %}
        <div>
            <p>
                <label style="color:white">{{column.upper()}}</label>
                {% if column.split(' ')[0]=='full'%}
                <input type="text" id="{{ column.split(' ')[0]+column.split(' ')[1]}}" class="w3-input w3-border" required>
                {% else %}
                <input type="text" id="{{column}}" class="w3-input w3-border" required>
                {% endif %}
            </p>
        </div>
        {% endfor %}
        <div class="w3-container w3-center w3-padding-large">
            <button 
                type="button"
                onclick="take_snapshot()" 
                class="w3-button w3-2021-french-blue w3-round-large w3-xxlarge w3-margin-xlarge" 
                style="color:white; border:none;width:3em">
                <i class="glyphicon glyphicon-camera"></i>
            </button>
        </div>

    {% else %}
        {% for column in columns %}
            <div>
                <p>
                    <label style="color:white">{{column.upper()}}</label>
                    {% if column.split(' ')[0]=='full'%}
                    <input type="text" id="{{'my_'+column.split(' ')[0]+column.split(' ')[1]}}" name="{{'my_'+column.split(' ')[0]+column.split(' ')[1]}}" class="w3-input w3-border" readonly>
                    {% else %}
                    <input type="text" id="{{'my_'+column}}" name="{{'my_'+column}}" class="w3-input w3-border" readonly>
                    {% endif %}
                </p>
            </div>
        {% endfor %}
        <div class="w3-container w3-center w3-padding-large">
            <button 
                type="submit"
                class="w3-button w3-2021-french-blue w3-round-large w3-xxlarge w3-margin-xlarge" 
                style="color:white; border:none;width:3em">
                <i class="glyphicon glyphicon-saved"></i>
            </button>
        </div>
    {% endif %}
</form>
{%- endmacro %}