{% extends 'base.html' %}
{% block content %}
{% import 'forms.html' as form %}
{{ form.flash_messages() }}
<div class="w3-animate-left w3-content w3-container w3-margin-top w3-mobile" style="height: 100%;">
    <table class="w3-table-all w3-display-bottom w3-mobile">
        <tr class="w3-mobile">
            <th class="w3-center">ID Number</th>
            <th class="w3-center">Last Name</th>
            <th class="w3-center">First Name</th>
            <th class="w3-center">Course</th> 
            <th class="w3-center">Level</th>
            <th class="w3-center">View Image</th>
            <th class="w3-center">Delete/Edit</th>  
        </tr>
        {% for student in slist %}
            <tr class="w3-hover-yellow w3-mobile">
                <td class="w3-center">{{ student['idno']}}</td>
                <td class="w3-center">{{ student['lastname'].title()}}</td>
                <td class="w3-center">{{ student['firstname'].title()}}</td>
                <td class="w3-center">{{ student['course'].upper()}}</td>
                <td class="w3-center">{{ student['level']}}</td>
                <td>
                    <div class="button-container">
                        <span class="w3-button w3-2021-mint w3-round-large" onclick="showStudentModal('{{ student.idno }}', 'showimage')">View Image</span> 
                    </div>
                </td>      
                <td>
                    <div class="button-container">
                        <span class="w3-round-large w3-button w3-red" onclick="showStudentModal('{{ student.idno }}', 'delete')"><i class="glyphicon glyphicon-remove"></i></span>
                        <span class="w3-round-large w3-button w3-yellow" onclick="showStudentModal('{{ student.idno }}', 'update')"><i class="glyphicon glyphicon-edit"></i></span>
                    </div>
                </td>                      
            </tr>
            {{ form.showimagemodal('Student Image', 'showimage-'+ student.idno, student)}}
            {{ form.showdeletemodal('Delete Student', 'delete-'+ student.idno, student.idno) }}
            {{ form.showModal('Update Student', 'update-'+ student.idno, student, columns) }}
            {{ form.updateimage('Change Student Image', 'imageupdate-' + student.idno, student.idno) }}
        {% endfor %}
    </table>
</div>
{% endblock %}